header {
	font-family: 'Playfair Display', serif;
	text-align: right;
	box-sizing: border-box;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px
}

body {
	font-family: 'Playfair Display', serif;
	max-width: 1560px;
	margin: auto;
}

footer {
	text-align: center;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

.main-image {
	max-height: 600px;
	overflow: hidden;
}

.main-image img {
	transition:margin-top 0.5s ease-in-out;
	}

.work-header {
	box-sizing: border-box;
	padding-left: 20px;
    padding-right: 20px
}

.work-item {
	overflow: auto;
	padding: 10px;
	transition:width 0.5s ease-in-out;
}

.article-text {
	overflow: auto;
	padding: 10px;
	box-sizing: border-box;
}

.article-picture {
	overflow: auto;
	padding: 10px;
	box-sizing: border-box;
}

.article-heading {
	font-size: 1.2em;
}

.work-item:hover { 
    opacity: 0.7;
}

.work-item:active {
	opacity: 0.3;
}

.work-item .article-picture,
.work-item .article-text {
	float: left;
	width: 50%;
}

@media screen and (min-width: 600px) {
	.article-hr {
		display: none;
	}

	.work-articles-container {
		justify-content: center;
		display: flex;
		flex-flow: row wrap;
	}

	.work-item {
		width: calc(100% * (1/2) - 30px);
	}

	.work-item .article-picture,
	.work-item .article-text {
		display: block;
		width: 100%;
	}

}

@media screen and (min-width: 900px) {
	.main-image img {
		margin-top: -30px;
	}

}

@media screen and (min-width: 1000px) {
	.article-hr {
		display: none;
	}

	.main-image img {
		margin-top: -60px;
	}

	.work-articles-container {
		display: flex;
		flex-flow: row wrap;
	}

	.work-item {
		width: calc(100% * (1/3) - 20px);
	}

	.work-item .article-picture,
	.work-item .article-text {
		display: block;
		width: 100%;
	}

}

@media screen and (min-width: 1200px) {
	.main-image img {
		margin-top: -90px;
	}

}

@media screen and (min-width: 1560px) {
	.main-image img {
		margin-top: -120px;
	}

}









