/*Import social media icons*/
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

header {
	text-align: right;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5em;
}

/*Set maximum with of body with margins, use Google Font*/
body {
	font-family: 'Playfair Display', serif;
	max-width: 1560px;
	margin: auto;
}

footer {
	text-align: center;
}

h3 {
	margin-top: 5px;
	margin-bottom: 10px;
}

hr {
	color: #334E58;
	opacity: 0.8;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

/*social class and with social prefix are the drop down menu in header*/
.social {
	float: left;
    position: relative;
}

.social-button {
	font-family: 'Playfair Display', serif;
	font-size: 0.9em;
	color: #334E58;
    opacity: 0.8;
	background-color: white;
	border: none;
    cursor: pointer;
    position: absolute;
}

.social-content {
	background-color: white;
    display: none;
    position: absolute;
    z-index: 1;
}

.social-content a {
	font-size: 1em;
    color: black;
    padding: 20px;
    display: block;
}

.social-content a:hover {
	background-color: #DCE6E9;
}

.social-content a:active {
	background-color: #334E58;
}

.social:hover .social-content {
	background-color: white;
    display: block;
}

.sub-header {
	color: #334E58;
	opacity: 0.8;
}

.main-image {
	max-height: 600px;
	overflow: hidden;
}

/*set transition for main image due to changes in media query*/
.main-image img {
	transition:margin-top 0.5s ease-in-out;
	}

/*set 'Featured Work' header, set animation*/
.work-header {
	color: white;
	padding-left: 20px;
    padding-right: 20px;
    animation: fadeInFromLeft 0.5s ease-out;
    background-color: #334E58;
    opacity: 0.8;
    overflow: hidden;
    line-height: 2em;
}

.work-item {
	overflow: auto;
	padding: 10px;
	transition:width 0.5s ease-in-out;
}

.work-item:hover { 
    opacity: 0.7;
}

.work-item:active {
	opacity: 0.3;
}

.work-item .article-picture,
.work-item .article-text {
	float: left;
	width: 50%;
}

.article-heading {
	font-size: 1.2em;
}

.article-text {
	overflow: auto;
	padding: 10px;
	box-sizing: border-box;
}

.article-picture {
	overflow: auto;
	padding: 10px;
	box-sizing: border-box;
}

/*set up animation for 'Featured Work'*/
@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  50% {
  	opacity: 0.2;
  }

  100% {
    transform: translateX(0);
    opacity: 0.8;
  }
}

/*media queries to change images and layout as screen size increases*/
@media screen and (min-width: 600px) {
	header {
		font-size: 1.2em;
		line-height: 1.2em;
	}

	h3 {
		margin-top: 10px;
	}

	.article-hr {
		display: none;
	}

	.work-header {
		font-size: 1.3em;
	}

	.work-articles-container {
		justify-content: center;
		display: flex;
		flex-flow: row wrap;
	}

	.work-item {
		width: calc(100% * (1/2) - 30px);
	}

	.work-item .article-picture,
	.work-item .article-text {
		display: block;
		width: 100%;
	}

}

@media screen and (min-width: 900px) {
	header {
		font-size: 1.2em;
		line-height: 1.2em;
	}

	h3 {
		margin-top: 15px;
	}

	.social-content a {
    padding: 30px;
	}

	.main-image img {
		margin-top: -30px;
	}

	.work-header {
		font-size: 1.5em;
	}

}

@media screen and (min-width: 1000px) {
	header {
		font-size: 1.3em;
	}

	.article-hr {
		display: none;
	}

	.main-image img {
		margin-top: -60px;
	}

	.work-articles-container {
		display: flex;
		flex-flow: row wrap;
	}

	.work-item {
		width: calc(100% * (1/3) - 20px);
	}

	.work-item .article-picture,
	.work-item .article-text {
		display: block;
		width: 100%;
	}
}

@media screen and (min-width: 1200px) {
	header {
		font-size: 1.5em;
	}

	h3 {
		margin-top: 18px;
	}

	.main-image img {
		margin-top: -90px;
	}
}

@media screen and (min-width: 1560px) {
	header {
		font-size: 1.6em;
	}

	h3 {
		margin-top: 20px;
	}

	.main-image img {
		margin-top: -120px;
	}

	.work-header {
		font-size: 1.7em;
	}
}










